.form{
    background-color: var(--main-color);
    border-radius: 20px;
    border: 6px solid var(--color-white);
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    z-index: 1;
    
    @media only screen and (max-width: 600px) {
        padding: 2rem 1rem;
    }

    h2{
        margin: 0 0 1rem 0;
        text-align: center;
    }

    &__buy{
        padding: 4rem 2rem;
        position: absolute;
        top: -40px;

        @media only screen and (max-width: 1300px) {
            padding: 2rem;
            position: unset;
            top: unset;
        }
    }

    &__sticky{
        position: sticky;
        top: 7rem;
        max-width: 500px;

        h2{
            font-size: 1.2rem;
        }

        .form_control__light{
            min-height: 35px;
            padding: .5rem 1rem;
        }

        .form_group label{
            vertical-align: text-top;
            font-size: .7rem;
        }

        .iti__country-list{
            max-width: 410px;
        }
    }

    &_step{
        display: flex;
        place-content: center;
        place-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--second-color);
        color: var(--color-black);
        font-size: 1.5rem;
        font-weight: 500;
        margin-inline: auto;
    }

    &_control{
        background-color: var(--color-white);
        font-family: var(--font);
        font-size: var(--font-size-main);
        font-weight: 300;
        appearance: none;
        border: 0;
        border-radius: 30px;
        width: 100%;
        border: 3px solid var(--color-gray);
        outline: none;
        padding: 1rem;

        &__light{
            min-height: 51px;
            border: 0;
            color: var(--color-black);

            &::placeholder{
                color: var(--color-black);
            }
        }

        &.select{
            padding: .5rem 2.6rem .5rem 1rem;
            background-image: url('/src/images/arrow__down.png');
            background-size: 20px;
            background-position: right 1rem center;
            background-repeat: no-repeat;
        }

        &__search{
            padding: 1rem 3rem 1rem 1rem;
            background-image: url('/src/images/ico__search.png');
            background-position: 96% center;
            background-repeat: no-repeat;
        }
    }

    &_block{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;

        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &_group{
        &:nth-child(3) {
            grid-area: 2 / 1 / 2 / 3;
        }

        &:nth-child(6) {
            display: flex;
            grid-area: 4 / 1 / 4 / 3;
        }

        &:nth-child(7) {
            grid-area: 5 / 1 / 5 / 3;
        }

        &:nth-child(8) {
            grid-area: 6 / 1 / 6 / 3;
        }

        &:nth-child(9) {
            grid-area: 7 / 1 / 7 / 3;
        }

        &:nth-child(10) {
            grid-area: 8 / 1 / 8 / 3;
        }

        &:nth-child(11) {
            grid-area: 10 / 1 / 9 / 3;
        }

        label{
            font-size: 1rem;
            font-weight: 500;
            color: var(--color-black);

            a{
                color: var(--color-black);
                text-decoration: underline;
            }
        }

        input[type="checkbox"] {
            accent-color: var(--main-color);
            margin: 0;
            display: inline-block;
        }

        .btn{
            font-size: 2rem;

            @media only screen and (max-width: 600px) {
                font-size: 1rem;
            }

            &__small{
                font-size: 1rem;
            }
        }
    }

    &_referred{
        display: flex;
        flex-wrap: wrap;
        place-content: space-between;
        place-items: center;
        gap: 1rem;
        
        &_add{
            cursor: pointer;
            display: flex;
            place-items: center;
            gap: .5rem;
            color: var(--second-color);
            border: 1px solid var(--second-color);
            border-radius: 16px;
            padding: .1rem .4rem;
        }

        p{
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
            color: var(--color-black);
        }
    }

    &_custom{

        &_group{
            &:nth-child(5) {
                grid-area: 3 / 2 / 3 / 3;
            }

            a{
                pointer-events: none;
                opacity: .5;

                &.active{
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }

        &_label{
            display: none;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            &.active{
                display: grid;
            }
        }

        &_data{
            display: none;

            &.active{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                place-content: flex-start;
                place-items: center;
            }

            &_item{
                display: flex;
                padding: 0.2rem 0.3rem;
                border: 1px solid var(--color-white);
                border-radius: 16px;
                gap: 0.5rem;
            }

            &_close{
                cursor: pointer;
                display: flex;
                place-content: center;
                place-items: center;
                border-radius: 50%;
                border: 1px solid var(--color-white);
                width: 20px;
                height: 20px;
            }
        }
    }
}