.menu{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--color-white);
    padding: 2rem 0;

    &_container{
        display: flex;
        place-content: center;
        place-items: center;
        gap: 10rem;

        ul{
            display: flex;
            gap: 2rem;

            @media only screen and (max-width: 900px) {
                display: none;
            }

            li{
                a{
                    font-weight: 500;
                    font-size: 1rem;
                    color: var(--color-black);
                }
            }
        }
    }
}