.menu{
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: var(--color-white);
    padding: 2rem 0;

    &_container{
        display: flex;
        place-content: center;
        place-items: center;
        gap: 10rem;

        @media only screen and (max-width: 950px) {
            place-content: space-between;
            gap: unset;
        }

        ul{
            display: flex;
            gap: 2rem;

            @media only screen and (max-width: 950px) {
                display: none;
            }

            li{
                a{
                    font-weight: 500;
                    font-size: 1rem;
                    color: var(--color-black);
                }
            }
        }
    }

    &_actions{
        display: none;
        cursor: pointer;

        @media only screen and (max-width: 950px) {
            display: block;
        }

        &__hide{
            display: none;
        }
    }
}

.nav{
    display: none;
    background-color: var(--color-white);
    padding: 0 0 2rem 0;
    position: sticky;
    top: 117px;
    z-index: 2;

    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li{
            a{
                color: var(--color-black);
                font-weight: normal;
            }
        }
    }
}